<% content_for :title, "Editing Snippet" %>

<h1 class="page-title">Edit Snippet</h1>

<div class="form-container">
  <%= render "form", snippet: @snippet %>
</div>

<div class="back-link">
  <%= link_to "Show this snippet", @snippet, class: "btn" %>
  <%= link_to "Back to snippets", snippets_path, class: "btn back-button" %>
</div>