<% content_for :title, "New Snippet" %>

<h1 class="page-title">New Snippet</h1>

<div class="form-container">
  <%= render "form", snippet: @snippet %>
</div>

<div class="back-link">
  <%= link_to "Back to all snippets", snippets_path, class: "btn back-button" %>
</div>